<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
		th, td {
		    padding: 5px;
		    text-align: left;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand">Manage</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	 <ul class="nav navbar-nav">
	 	<li>
	 		<a href="#Users">Users</a>
	 	</li>
	 	<li>
	 		<a href="#Apps">Apps</a>
	 	</li>
	 </ul>
	</div>
</div>
</nav>
<br><br><br>
<div class="container">
	<div class="starter-template">
		<input type="hidden" id="passVal" value="xxxx">
		<div class="luser">
			<button class="btn btn-default" type="submit">
			<b id="userName">Admin: </b>
			<span class="glyphicon glyphicon-user" aria-hidden="true">
			</span>
			" xxxx"
		</button>
		</div>
	<div id="displayArea">
		<section id="Users">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Users</h1>
					<div class="row">
					</div>
				</div>
			</div>
			<div id="room1"></div>
		</section>

		<br>

		<section id="Apps">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Apps</h1>
					<div class="row">
					</div>
				</div>
			</div>
			<div id="room2"></div>
		</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>

<script id="user-table" type="text/x-handlebars-template">
	<table id="users_table" style="width:100%">
		<tr>
			<th>Username</th>
			<th>Password</th>
			<th>Account Type</th>
			<th>Language</th>
			<th>Internal Remark</th>
			<th>Enabled</th>
			<th>Functions</th>
		</tr>
		{{#each .}}
		<tr>
			<td>{{username}}</td>
			<td>{{password}}</td>
			<td>{{type}}</td>
			<td>{{lang_id}}</td>
			<td>{{internal_remark}}</td>
		</tr>
		{{/each}}
	</table>
</script>

<script>
var room1 = $('#room1');
var renderTemplate1 = Handlebars.compile($('#entry-template').html());
var user_table = Handlebars.compile($('#user-table').html());
	$.get('/users', function (res) {
		$('#room1').html(user_table(res.result));
	})
</script>

<script id="app-table" type="text/x-handlebars-template">
	<table id="apps_table" style="width:100%">
	  <tr>
	    <th>Category</th>
	    <th>App Name</th>
	    <th>Image</th>
	    <th>Description</th>
	    <th>IOS List Info</th>
	    <th>AOS List Info</th>
	    <th>Bundle ID</th>
	    <th>Versions</th>
	  </tr>
	  {{#each .}}
	  <tr>
	    <td></td>
	    <td>{{app_title_en}}<br>{{app_title_tc}}<br>{{app_title_sc}}</td>
	    <td>{{img_path}}</td>
	    <td>{{description_en}}<br>{{description_tc}}<br>{{description_sc}}</td>
	    <td>{{ios_list_info_en}}<br>{{ios_list_info_tc}}<br>{{ios_list_info_sc}}</td>
	    <td>{{aos_list_info_en}}<br>{{aos_list_info_tc}}<br>{{aos_list_info_sc}}</td>
	    <td>{{bundle_id}}</td>
	  </tr>
	  {{/each}}
	</table>
</script>

<script>
var room2 = $('#room2');
var renderTemplate1 = Handlebars.compile($('#entry-template').html());
var app_table = Handlebars.compile($('#app-table').html());
	$.get('/apps', function (res) {
		$('#room2').html(app_table(res.result));
	})
</script>

</body>
</html>